/*****************************************************************************************************************/
/*************************************** CSS Styling for Home Page ***********************************************/
/*****************************************************************************************************************/
/* This CSS file contains styling for the home page, divided into three main sections:
   1. Global Styles and Links
   2. Header Content Section
   3. Main Content Section
   4. Footer Content Section
*/

/*************************************** Global Styles and Links ************************************************/
html, body {
    font-family: 'Literata', Georgia, serif;
    background-color: #6b63b5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #e8e8e4;
}

/*************************************** Header Content Section *************************************************/
#Home_Background {
    background-image: url('Images/Temp_Images/background@3x.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative; /* Added to enable pseudo-element positioning */
}

.Home_Background::before {
    content: ''; /* Pseudo-element for dark overlay */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.5); /* 50% opacity */
    z-index: 1;
}

#Home_Header {
    width: 100%;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 1vh 0 0 0;
    z-index: 2;
}

.Home_Header img {
    width: 20px;
    height: 20px;
    margin: 0 1vw 0 5vw;
}

.Advanced_Search, .All-Sets {
    text-decoration: none;
    font-family: Literata;
    font-size: 14px;
    font-weight: bold;
    color: #e8e8e4;
    margin: 0 32px 0 8px;
}

.Advanced_Search {
    width: 119px;
    height: 24px;
    margin-left: 80px;
}

.All-Sets {
    width: 51px;
    height: 24px;
}

/*************************************** Main Content Section ***************************************************/
#Home_Body {
    width: 100%;
    height: 71vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
    padding-top: 4vh;
    overflow: hidden;
}

.Home_Page_Text h3 {
    font-size: 2rem;
    font-family: Literata;
    font-weight: 1000;
    margin: 0;
    color: #e8e8e4;
}

.Home_Page_Text p {
    font-size: 1rem;
    font-family: Literata;
    margin: 0;
    color: #e8e8e4;
}

.Accio_Logo {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 5vh;
}

.Accio_Logo img {
    width: 4vw;
    height: auto;
    margin: 10px;
}

.Home_Page_Search_Bar {
    position: relative;
    display: flex;
    width: 25vw;
    height: 6vh;
    margin: 20px 13px 16px;
    background-color: rgba(98, 90, 165, 0.25);
    border-radius: 8px;
    border: 0;
    overflow: hidden;
    opacity: 0.5;
}

.Home_Page_Search_Bar::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0%, -40%);
    width: 5%;
    height: 50%;
    background-image: url('Images/Icons/accio.svg');
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
}

.Home_Page_Search_Bar input[type="text"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    border-radius: 8px;
    background-color: rgba(98, 90, 165, 0.25);
    padding-left: 12%;
    border: 0;
    font-family: Literata;
    margin: 0;
    color: #e8e8e4;
}

.Home_Page_Search_Bar input[type="text"]:hover,
.Home_Page_Search_Bar input[type="text"]:focus,
.Home_Page_Search_Bar input[type="text"]:active {
    background-color: rgba(98, 90, 165, 0.5);
    outline: none;
}

.Card_Example_Display_Three_Images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    position: relative;
    width: 40vw;
    height: 50vh;
}

.Card_Example_Display_Three_Images img, .Card_Example_Display_Image1 img, .Card_Example_Display_Image2 img,
.Card_Example_Display_Image3 img {
    position: absolute;
    width: 14vw;
    height: auto;
}

.Card_Example_Display_Three_Images img:nth-child(1) {
    z-index: 1;
    top: 0;
    left: 15%;
}

.Card_Example_Display_Three_Images img:nth-child(2) {
    z-index: 2;
    top: 0;
    left: 50%;
    transform: translate(-50%, 10%);
}

.Card_Example_Display_Three_Images img:nth-child(3) {
    z-index: 1;
    top: 0;
    left: 85%;
    transform: translate(-100%, 0%);
}

.Card_Example_Display {
    overflow: hidden;
}



.Card_Example_Display_Image1 {
    position: relative;
    width: 300px; /* Set the width of the container */
    height: 300px; /* Set the height of the container */
    perspective: 1000px; /* Add perspective */
}

.Card_Example_Display_Image1 img {
    position: absolute;
    width: 14vw;
    height: auto;
    backface-visibility: hidden; /* Hide the back image */
    transition: transform 1s; /* Smooth transition */
}

.Card_Example_Display_Image1 .Front_Image {
    transform: rotateY(0deg); /* Front image, no rotation */
}

.Card_Example_Display_Image1 .Back_Image {
    transform: rotateY(-180deg); /* Back image, rotated 180 degrees */
}

.Card_Example_Display_Image1:hover .Front_Image {
    transform: rotateY(-180deg); /* Rotate front image on hover */
    z-index: 2;
}

.Card_Example_Display_Image1:hover .Back_Image {
    transform: rotateY(0deg); /* Rotate back image on hover */
}























/*************************************** Footer Content Section *************************************************/
#Home_Footer {
    background-image: url('Images/Temp_Images/feathers@3x.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#Home_Footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(107, 99, 181, 0.5);
    z-index: 0;
}

.Home_Footer_Links {
    display: flex;
    flex-direction: row;
    z-index: 2;
    color: #e8e8e4;
}

.Home_Footer_Links h2 {
    margin: 0;
    border-bottom: 2px solid rgba(107, 99, 181, 0.5);
    font-family: Literata;
    font-size: 16px;
    font-weight: bold;
}

.Home_Footer_Find_Cards, .Home_Footer_Accio, .Home_Footer_Socials {
    width: 12vw;
    height: 10vh;
    margin: 0 2vw;
    font-family: Literata;
    font-size: 16px;
    font-weight: bold;
    color: var(--white-100);
}

.Home_Footer_Find_Cards nav, .Home_Footer_Accio nav, .Home_Footer_Socials nav {
    display: flex;
    flex-direction: column;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-decoration: none;
    color: #e8e8e4;
}

.Home_Footer_Copyright_Disclosure, .Home_Footer_Copyright_Disclosure p {
    width: 50vw;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    text-align: center;
    font-family: Literata;
    margin: 0;
    color: #e8e8e4;
    z-index: 2;
    overflow: hidden;
}
