html, body {
    font-family: 'Literata', Georgia, serif;
    background-color: #6b63b5;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*****************************************************************************************************************/
/************************************* First Body: Header Content Section ****************************************/
/*****************************************************************************************************************/

#Page_Header {
    background-color: #6b63b5;
    color: #e7ddfde8;
    width: 100%;
    min-height: 6vh;
    max-height: 20vh;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: clamp(8px, 2.5vw, 16px);
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
}

.Page_Header_Buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.Page_Header img {
    width: 20px;
    height: 20px;
    margin-left: 5vw;
    margin-right: 1vw;
}

#Page_Header a,
#Page_Header a:visited,
#Page_Header a:hover,
#Page_Header a:active {
    text-decoration: none;
    color: #fff;
    align-items: center;
    justify-content: space-around;
    outline: none;
}

#Page_Header nav {
    display: flex;
    flex-direction: row;
}

#Page_Header_Advance_Search,
#Page_Header_Syntax,
#Page_Header_Sets {
    margin-left: 20px;
    margin-right: 20px;
    outline: none;
}

#search_input {
    min-width: 100px;
    max-width: 80vw;
    width: 400px;
    height: 36px;
    opacity: 0.6;
    border-radius: 5px;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 1);
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    border: none;
    outline: none;
    margin: 2px;
}

#search_input::placeholder {
    color: rgba(255, 255, 255, 1);
    font-family: 'Arial', sans-serif;
}

#search_button:hover {
    background-color: hsl(246, 47%, 46%);
}

/*****************************************************************************************************************/
/**************************************Second Body: Main Content Section *****************************************/
/*****************************************************************************************************************/

#Advanced_Search_Body {
    width: 100%;
    min-height: 75vh;
    background-color: #e8e8e4;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    position: relative;
}

.Advanced_Search_Card_Attributes {
    position: relative;
    width: 50vw;
    height: auto;
    color: #333333;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.styled-dropdown {
    width: 25vw;
    height: 3.2vh;
    font-size: 14px;
    padding: 5px;
}

.Advanced_Search_Card_Attributes input {
    position: relative;
    width: 25vw;
    height: 3.2vh;
    border-radius: 4px;
    border: solid 1px #333333;
    outline: none;
}

.Advanced_Search_Name,
.Advanced_Search_Text,
.Advanced_Search_Type,
.Advanced_Search_Keywords,
.Advanced_Search_Lesson,
.Advanced_Search_PPC,
.Advanced_Search_Stats,
.Advanced_Search_Sets,
.Advanced_Search_Rarity,
.Advanced_Search_Flavor,
.Advanced_Search_Card_Artist,
.Advanced_Search_Number {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    border-bottom: solid 1px rgba(51, 51, 51, 0.1);
}

.Advanced_Search_Name_Header,
.Advanced_Search_Text_Header,
.Advanced_Search_Type_Header,
.Advanced_Search_Keywords_Header,
.Advanced_Search_Lesson_Header,
.Advanced_Search_PPC_Header,
.Advanced_Search_Stats_Header,
.Advanced_Search_Sets_Header,
.Advanced_Search_Rarity_Header,
.Advanced_Search_Flavor_Header,
.Advanced_Search_Card_Artist_Header,
.Advanced_Search_Number_Header {
    width: 8vw;
    margin: 0;
    padding: 0;
}

/*----------------------- Rarity---------------- */
.Advanced_Search_Rarity_Field {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.Advanced_Search_Rarity_Field form {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 1vw;
    border-right: solid 1px rgba(51, 51, 51, 0.1);
    width: fit-content;
}

.Advanced_Search_Rarity_Field form.no-border {
    border: none;
    padding: 0;
}

.Advanced_Search_Rarity_Field label {
    margin-right: 10px;
    width: 80px;
    text-align: left;
    font-size: 14px;
}

.Advanced_Search_Rarity_Field input[type="checkbox"] {
    width: 20px;
    margin-right: 20px;
}

/*----------------- Lesson ---------------------*/
.Advanced_Search_Lesson_Field {
    display: flex;
    flex-wrap: wrap; /* Added to prevent overflow */
    width: 100%; /* Ensure it fits within the parent container */
}

.Advanced_Search_Lesson_Header p {
    width: 50vw;
}

.Advanced_Search_Lesson_Field form {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 1vw;
    border-right: solid 1px rgba(51, 51, 51, 0.1);
    width: fit-content;
}

.Advanced_Search_Lesson_Field form.no-border {
    border-right: none;
    height: 20vh;
    padding: 0;
}

.Advanced_Search_Lesson_Field label {
    margin-right: 10px;
    width: 60px;
    text-align: left;
    font-size: 14px;
}

.transfiguration_no_border label {
    display: inline-block;
    width: 100px;
}

.Advanced_Search_Lesson_Field input[type="checkbox"] {
    width: 20px;
    margin-right: 10px;
}

/*----------------- type ---------------------*/
.Advanced_Search_Type_Field .styled-dropdown {
    height: 5vh;
    width: 25vw;
    font-size: 16px;
    border-radius: 4px;
    border: solid 1px rgba(51, 51, 51, 1);
}

.Advanced_Search_Sets_Field .styled-dropdown {
    height: 5vh;
    width: 25vw;
    font-size: 16px;
    border-radius: 4px;
    border: solid 1px rgba(51, 51, 51, 1);
}

#Advanced_Search_Button {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(51, 51, 51, 1);
    padding: 10px 20px;
    margin-top: 10px;
    border: solid 1px rgba(51, 51, 51, 1);
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.Card_Type_Selected_Div {
    width: 100px;
    height: 30px;
    background-color: #6b63b5;
    color: rgba(255, 255, 255, 1);
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.Card_Type_Selected_Div_Cross {
    height: 10px;
    background-color: #6b63b5;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*****************************************************************************************************************/
/********************************* Third Body: Footer Content Section ********************************************/
/*****************************************************************************************************************/
#Advanced_Search_Footer {
    background-image: url('Images/Temp_Images/feathers@3x.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#Advanced_Search_Footer::before {
    content: ''; /* Required for pseudo-elements */
    position: absolute; /* Position relative to the container */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(107, 99, 181, 0.5);
    z-index: 0; /* Ensure pseudo-element is above the image */
}

.Advanced_Search_Footer_Links {
    display: flex;
    flex-direction: row;
    z-index: 2;
    color: #e8e8e4;
    text-decoration: none;
}

.Advanced_Search_Footer_Links h2 {
    margin: 0;
    border-bottom: 2px solid rgba(107, 99, 181, 0.5);
    font-family: Literata;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
}

.Advanced_Search_Footer_Find_Cards, .Advanced_Search_Footer_Accio, .Advanced_Search_Footer_Socials {
    width: 12Vw;
    height: 10vh;
    margin: 0 2vw 0 2vw;
    font-family: Literata;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--white-100);  
}

.Advanced_Search_Footer_Find_Cards nav, .Advanced_Search_Footer_Accio nav, .Advanced_Search_Footer_Socials nav,
.Advanced_Search_Footer_Find_Cards nav a, .Advanced_Search_Footer_Accio nav a, .Advanced_Search_Footer_Socials nav a {
    display: flex;
    flex-direction: column;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-decoration: none;
    color: #e8e8e4;
}

.Advanced_Search_Footer_Copyright_Disclosure, .Advanced_Search_Footer_Copyright_Disclosure p {
    width: 50vw;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    text-decoration: none;
    text-align: center;
    font-family: Literata;
    font-style: normal;
    margin: 0;
    color: #e8e8e4;
    z-index: 2;
    overflow: hidden;
}

/* Add these styles to your CSS */

.multi-select {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
    max-height: 150px;
    overflow-y: auto;
}

#Keywords_MultiSelect {
    max-height: 150px;
    overflow-y: auto;
}

.dropdown-item {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    background-color: #f0f0f0;
}

.dropdown-item:hover {
    background-color: #e0e0e0;
}

.selected-option {
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #d0d0d0;
}

.selected-option button {
    margin-left: 5px;
    padding: 2px 5px;
    cursor: pointer;
    background-color: #ff4c4c;
    border: none;
    color: white;
    border-radius: 3px;
}

.styled-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
